body{
    background-image: url(Background.jpg);
}

.contacts{
    display:grid;
    grid-template-columns: 40% 40% 40%;
    overflow:auto;
    background-color: bisque;
    opacity: 30%;

}

.IntroductionContainer{
    align-content: start;
    padding-bottom: 0px;
}
.header-container{
    display: grid;
    gap: 1px;
}
.box-container{
    display: flex;
    height: 300px;
    width:300px
    }
#contact-container{
    display:flex;
}
#flex-container{
    display:flex;
    width: 600px;
    height: 600px;
    align-content: space-between;
}
#Information{
    display: flex;
    color: azure;
    font-size: larger;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
}
#Cruise{
    color: aliceblue;
}
ul{
    list-style: none;
}       
